/* Bordered form */
:root {
  --taile-color: #bf00ff;
}
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  /* display: inline-block; */
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: inherit;
}

/* .box-shadow-1{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

} */

/* .shadow-1{

    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} */

.border-none {
  border: none !important;
}
.border-slate {
  border: 1px solid #bdb8b8;
}
.border-radius-10 {
  border-radius: 10px;
}
.email-input-container {
  border-radius: 10px;
  background: #f5f5f5;
  overflow: hidden;
}

.email-input-container img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.outline-none {
  outline: none;
}
.w-full {
  width: 100%;
}
.w-40 {
  width: 30px;
}
.d-50 {
  width: 50px;
  height: 50px;
}
.d-150 {
  width: 150px;
  height: 150px;
}
.w-100 {
  width: 100px;
}
.w-1000 {
  width: 1000px;
}
.w-50 {
  width: 50px;
}
.h-100 {
  height: 100px;
}
.h-40 {
  height: 30px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-10 {
  padding: 10px;
}
.gap-5 {
  gap: 5px;
}
.gap-20 {
  gap: 20px;
}

.gap-100 {
  gap: 100px;
}
.text-center {
  text-align: center;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.font-bold {
  font-weight: 600;
}
.font-semibold {
  font-weight: 500;
}
.text-2xl {
  font-size: 32px;
}
.text-lg {
  font-size: 20px;
}

.text-medium {
  font-size: 16px;
}
.text-start {
  text-align: start;
}
.font-14 {
  font-size: 14px;
}
.text-tale {
  color: var(--taile-color);
}
.text-warning {
  color: #ff0000;
}
/* Set a style for all buttons */
/* button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
} */
.create-account-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.manage-account-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.algo-network {
  border-radius: 99999px;
  color: black;
  background: white;
  padding: 10px 20px;
  position: relative;
  top: -10px;

  border: 1px solid #bbff00;
}
.btn {
  border-radius: 99999px;
  color: #bbff00;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  border: 1px solid #bbff00;
  transition: 0.2s ease;
}

.activity-border {
  width: 100%;
  height: 2px;
  background: #aaa6a6;
  position: absolute;
  bottom: 0;
}

.primary-btn {
  width: 120px !important;
  background-color: #0c0c0c;
  padding: 2% !important;
}
.primary-btn:hover {
  background-color: #bbff00;
  color: #0c0c0c;
}
.secondary-btn {
  width: 120px !important;

  background-color: #ffffff;
  color: black;
}
.secondary-btn:hover {
  background-color: #bbff00;
  color: #ffffff;
}
.activity-button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #e5e5e5;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.activity-selected {
  border-bottom: 2px solid #bbff00;
}

button:disabled {
  cursor: auto;
  background-color: gray;
}

/* Add a hover effect for buttons */
/* button:hover {
    opacity: 0.8;
} */

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 100px;
  border-radius: 50%;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
img.avatar1 {
  width: 30px;
  border-radius: 50%;
}

.flex {
  display: flex;
}
.hidden {
  display: none;
}
.flex-wrap {
  flex-wrap: wrap;
}
.object-contain {
  object-fit: contain;
}

.text-xl {
  font-size: 28px;
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-40 {
  gap: 40px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.my-20 {
  margin: 20px 0;
}
.mx-20 {
  margin: 0 20px;
}
/* position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.left-10 {
  left: 10px;
}
.z-10 {
  z-index: 10;
}
/* Add padding to containers */
/* .container {
    padding: 16px;
} */

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.asset-image {
  width: 120px;
  height: 150px;
  object-fit: contain;
}
.asset-container {
  width: 120px;
  height: 180px;
  border: 1px solid gray;
  /* border-radius: 10px; */
  overflow: hidden;
  color: black;
  font-weight: 600;
  background: white;
}
.break-word {
  word-wrap: break-word;
}
.gap-y-10 {
  column-gap: 10px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

#buy-btn {
  padding: 10px 0;
  width: 80px;
}
#sell-btn {
  padding: 10px 0;
  width: 80px;
}
#modal-container {
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: fixed;
  top: 0px;
  font-size: 14px;
}

/* back UI */
.back-s1 {
  width: 10px;
  height: 3px;
  background: black;
  transform: rotate(135deg);
}
.back-s2 {
  position: relative;
  left: 2px;
  width: 20px;
  height: 3px;
  background: black;
}
.back-s3 {
  width: 10px;
  height: 3px;
  background: black;
  transform: rotate(45deg);
}

.profile-modal {
  position: absolute;
  width: 210px;
  background-color: #f1f1f2;
  border-radius: 10px;
  right: 5px;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.modal-items-container {
  display: flex;
  border-radius: 30px;
  padding: 10px 0;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-left: 10px;
  transition: 0.2s ease;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.modal-items-container:hover {
  background: #fcfafa;
}

.main {
  width: 300px;
  text-align: center;
  min-height: 550px;
  /* padding: 10px; */
}
#opt-in-option:disabled {
  background: none;
  color: #0c0c0c;
}
.wallet-address-container {
  border-radius: 20px;
  background: rgba(187, 255, 0, 0.1);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 240px;
}
.cursor-pointer {
  cursor: pointer;
}
.token-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-weight: bold;
  align-items: center;
  border: 1px solid rgb(176, 172, 172);
  border-radius: 9000px;
  width: 80%;
}

.overflow-x-scroll {
  overflow-x: scroll;
}
.limit-words-overflow {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activity-item-container {
  margin: 5px;
  padding: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 232 255 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  /* border-color: rgb(233 213 255/var(--tw-border-opacity)); */
  border: 1px solid rgb(233 213 255 / var(--tw-border-opacity));
  width: 100%;
  border-radius: 0.75rem;
  align-items: center;
  display: grid;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
body {
  border-radius: 40px;
  margin: 0;
  background-color: #f1f1f2;
}
a {
  text-decoration: none;
  color: cornflowerblue;
  cursor: pointer;
}
li {
  margin-bottom: 10px;
}
ol {
  padding-left: 15px;
}
#rebuttals {
  text-align: left;
  margin-top: 40px;
}
#wallet_div {
  padding: 10px 10px;
  width: 80%;
  margin: auto;
}
.img-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.button1 {
  color: #ffffff;
  background-color: #f0ad4e;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: green;
  border-radius: 11px;
  left: 0;
  top: 0;
}
.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

.checkmark_kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}
.cross_mark {
  height: 22px;
  width: 22px;
  background-color: #ff0000;
  border-radius: 50%;
  text-align: center;
  font-size: 21px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  font-family: monospace;
}
.transparencyli {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.transparencyul {
  list-style-type: none;
  padding-left: 0px;
  text-align: left;
}

/* //////////////////////////// */

/* Style the buttons inside the tab */

.tab {
  display: flex;
  justify-content: space-between;
}

.tab button {
  flex-basis: calc(33.33%);
  border-bottom: 4px solid rgb(229, 231, 235);
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  border-bottom: 4px solid rgb(187, 255, 0);
  z-index: 1;
}

.nfttab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 5%;
}
.tabCard {
  /* margin: 5% 0; */
  width: 23%;
}
.nftCardContent {
  padding: 5%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  border-radius: 15px;
}

.w-60 {
  width: 60%;
}
.w-80 {
  width: 80%;
}
.mx-auto {
  margin: auto;
}
/* * {
  background-color: white;
} */

/* styles for nft details page starts here  */
.nft-details-container {
  width: 85%;
  margin: 0 auto;
}

/* styles for accordion starts here  */
.accordion {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 0% 5%;

  /* align-items: center; */
  background-color: #eee;
  /* padding: 10px; */
  font-weight: bold;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}

.accordion-content p {
  margin: 0;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-item.active .accordion-header {
  background-color: #ddd;
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-content {
  display: none;
}

.properties-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.properties-card {
  background-color: rgba(255, 255, 255, 0.932);
  padding: 5%;
  border-radius: 5%;
}

.accordion-main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.accordion-left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10%;
}
.accordion-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10%;
}
.accordion-bottom-container {
  width: 100%;

  margin-top: 3%;
}
.youOwn {
  width: 60%;
  text-align: center;
  border: 1px solid rgb(231, 225, 225);
  border-radius: 10px;
}
.goback {
}
